html {
  height: 100%;
}
body {
  background-image: url("./attributes/city.jpg");
  background-size: 100% auto;
  height: 100%;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
.maincenter {
  background-color: black;
  opacity: 0.8;
  max-width: 960px;
  background-color: black;
  color: rgb(200, 206, 170);
  margin: 0 auto;
  border-radius: 25px;
}
.myname {
  font-size: 1.5em;
  color: #dbabab;
  text-decoration: none;
}
.myname:hover {
  background-color: rgb(200, 206, 170);
  color: black;
}
nav {
  background-color: black;
  margin-bottom: 10px;
}
ul {
  font-size: 1.5em;
}

li a {
  text-align: center;
  text-decoration: none;
  color: #dbabab;
}
.nav-link:hover {
  background-color: rgb(200, 206, 170);
  color: black;
}

.footer {
  background-color: black;
  color: #dbabab;
  text-align: center;
  display: block;
}

.navbar-toggler {
  background-color: #dbabab;
}
.sr-only {
  background-color: rgb(200, 206, 170);
  color: black;
}

h1 {
  font-size: 3.5em;
  color: rgb(66, 246, 135);
}
.fab {
  color: rgb(66, 246, 135);
  font-size: 3em;
  padding: 15px;
}
.fab:hover {
  color: #dbabab;
}
